<div class="country">
      <div class="country__box">
            <div class="country__box--left">
                  <img class="country__flag--active" alt="flag" src="{{flag}}" width="100px" />
            </div>
            <div class="country__box--right">
                  <h3 class="country__name--active">{{name}}</h3>
                  <div class="country__capital">Capital: {{capital}}</div>
                  <div class="country__region">Region: {{region}}</div>
                  <div class="country__population">Population: {{population}}</div>
                  <div class="country__languages-lable">Languages: </div>
                  <ul class="country__languages">
                        {{#each this.languages}}
                        <li class="country__language">{{name}}</li>
                        {{/each}}
                  </ul>
                  <div class="country__area">Area: {{area}}m<span>&#xb3</span>
                  </div>
            </div>

      </div>

</div>